In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [120]:
final3 = pd.read_csv('final_dataset2.csv')

In [121]:
final3.head(20)

,machineID,datetime_x,voltmean_24h,rotatemean_24h,pressuremean_24h,vibrationmean_24h,age,failure,model_enc
0,1,2015-01-04 06:00:00,171.536044,456.036706,101.652072,44.017022,18,0.0,2.0
1,29,2015-01-04 06:00:00,166.613863,453.121906,101.166076,40.561007,3,0.0,3.0
2,30,2015-01-04 06:00:00,175.672229,446.957238,98.466369,39.988195,20,0.0,2.0
3,31,2015-01-04 06:00:00,168.979748,455.771697,97.419663,41.387643,11,0.0,0.0
4,32,2015-01-04 06:00:00,171.493287,407.726484,106.015786,38.649454,15,0.0,3.0
5,33,2015-01-04 06:00:00,175.168741,454.184145,100.671976,41.085385,14,0.0,2.0
6,34,2015-01-04 06:00:00,173.328973,455.117356,99.151464,40.033005,10,0.0,3.0
7,35,2015-01-04 06:00:00,178.763065,449.160120,100.003531,39.886126,17,0.0,0.0
8,36,2015-01-04 06:00:00,176.242128,447.897105,118.892609,40.369239,5,0.0,3.0
9,37,2015-01-04 06:00:00,168.502826,397.730541,100.414238,46.683949,16,1.0,0.0
10,38,2015-01-04 06:00:00,173.152546,453.159461,100.321117,40.542345,15,0.0,3.0
11,39,2015-01-04 06:00:00,170.713625,438.977833,96.625657,39.985580,0,0.0,3.0
12,40,2015-01-04 06:00:00,163.274020,456.985491,115.914748,40.516034,4,1.0,1.0
13,41,2015-01-04 06:00:00,167.870356,443.154145,102.668562,40.151465,9,0.0,3.0
14,42,2015-01-04 06:00:00,174.068958,405.871581,102.179901,38.958740,7,0.0,0.0
15,43,2015-01-04 06:00:00,170.508914,461.583231,95.549026,40.603211,14,0.0,2.0
16,44,2015-01-04 06:00:00,169.851408,445.670199,98.025883,42.079643,7,0.0,3.0
17,45,2015-01-04 06:00:00,175.399925,417.830759,98.098540,53.487727,14,0.0,2.0
18,46,2015-01-04 06:00:00,169.439942,456.074925,98.798677,40.227626,10,0.0,3.0
19,47,2015-01-04 06:00:00,173.825605,437.521158,98.881089,42.317406,6,0.0,1.0

In [122]:
final3['datetime_x'].value_counts()

2015-04-20 15:00:00    102
2015-01-24 00:00:00    102
2015-04-20 06:00:00    102
2015-04-20 18:00:00    102
2015-01-24 18:00:00    102
                      ...
2015-08-31 21:00:00    100
2015-08-22 09:00:00    100
2015-06-08 00:00:00    100
2015-09-27 03:00:00    100
2015-12-10 03:00:00    100
Name: datetime_x, Length: 2898, dtype: int64

In [123]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [124]:
df_new = final3['failure']
df_new = pd.DataFrame(df_new,columns=['failure'])

final3.drop( labels=['failure'], axis=1, inplace=True)

X_train, X_test, y_train, y_test = train_test_split(final3, df_new, test_size = 0.3, random_state=42,shuffle=False)

In [125]:
df_new

        failure
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
...         ...
290123      0.0
290124      0.0
290125      0.0
290126      0.0
290127      0.0

[290128 rows x 1 columns]

In [126]:
X_train.shape

(203089, 8)

In [127]:
y_train['failure'].value_counts()

0.0    198802
1.0      4287
Name: failure, dtype: int64

In [128]:
y_test['failure'].value_counts()

0.0    85412
1.0     1627
Name: failure, dtype: int64

In [129]:
X_train.head()
#scaler = StandardScaler()
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

,machineID,datetime_x,voltmean_24h,rotatemean_24h,pressuremean_24h,vibrationmean_24h,age,model_enc
0,1,2015-01-04 06:00:00,171.536044,456.036706,101.652072,44.017022,18,2.0
1,29,2015-01-04 06:00:00,166.613863,453.121906,101.166076,40.561007,3,3.0
2,30,2015-01-04 06:00:00,175.672229,446.957238,98.466369,39.988195,20,2.0
3,31,2015-01-04 06:00:00,168.979748,455.771697,97.419663,41.387643,11,0.0
4,32,2015-01-04 06:00:00,171.493287,407.726484,106.015786,38.649454,15,3.0

In [130]:
X_train.index = X_train['datetime_x']
X_train.drop(labels = ['datetime_x'], axis=1, inplace=True)
X_train.head(10)

/home/nisarg/ml/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,machineID,voltmean_24h,rotatemean_24h,pressuremean_24h,vibrationmean_24h,age,model_enc
datetime_x,,,,,,,
2015-01-04 06:00:00,1,171.536044,456.036706,101.652072,44.017022,18,2.0
2015-01-04 06:00:00,29,166.613863,453.121906,101.166076,40.561007,3,3.0
2015-01-04 06:00:00,30,175.672229,446.957238,98.466369,39.988195,20,2.0
2015-01-04 06:00:00,31,168.979748,455.771697,97.419663,41.387643,11,0.0
2015-01-04 06:00:00,32,171.493287,407.726484,106.015786,38.649454,15,3.0
2015-01-04 06:00:00,33,175.168741,454.184145,100.671976,41.085385,14,2.0
2015-01-04 06:00:00,34,173.328973,455.117356,99.151464,40.033005,10,3.0
2015-01-04 06:00:00,35,178.763065,449.160120,100.003531,39.886126,17,0.0
2015-01-04 06:00:00,36,176.242128,447.897105,118.892609,40.369239,5,3.0
2015-01-04 06:00:00,37,168.502826,397.730541,100.414238,46.683949,16,0.0

In [131]:
scaler = StandardScaler()
X_train1 = X_train.copy()
X_train1 = scaler.fit_transform(X_train1)
indexes = X_train.index
columns = X_train.columns
X_train1 = pd.DataFrame(X_train1)
X_train1.index = indexes
X_train1.columns = columns
X_train1

,machineID,voltmean_24h,rotatemean_24h,pressuremean_24h,vibrationmean_24h,age,model_enc
datetime_x,,,,,,,
2015-01-04 06:00:00,-1.714290,0.180300,0.599573,0.212433,2.034519,1.144233,0.162336
2015-01-04 06:00:00,-0.744451,-0.997144,0.414645,0.089538,0.091889,-1.429889,1.115159
2015-01-04 06:00:00,-0.709814,1.169725,0.023529,-0.593141,-0.230089,1.487449,0.162336
2015-01-04 06:00:00,-0.675176,-0.431196,0.582760,-0.857823,0.556542,-0.057024,-1.743310
2015-01-04 06:00:00,-0.640539,0.170072,-2.465454,1.315892,-0.982597,0.629408,1.115159
...,...,...,...,...,...,...,...
2015-09-14 18:00:00,-0.190257,-0.922971,-0.758721,-0.475778,-0.346902,0.457800,0.162336
2015-09-14 18:00:00,-0.328805,-0.715096,-0.312687,0.573903,-0.645221,-0.400240,1.115159
2015-09-14 18:00:00,0.121477,-0.518658,-0.206833,-0.507321,-0.932015,-0.228632,-0.790487
2015-09-14 18:00:00,0.641034,0.005467,0.050729,0.205587,0.181145,1.315841,-0.790487
2015-09-14 18:00:00,-0.501991,-1.053234,-0.001076,0.421736,0.076123,-1.086673,1.115159

In [132]:
X_test.index = X_test['datetime_x']
X_test.drop(labels = ['datetime_x'],axis=1, inplace=True)
X_test.head(10)

/home/nisarg/ml/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,machineID,voltmean_24h,rotatemean_24h,pressuremean_24h,vibrationmean_24h,age,model_enc
datetime_x,,,,,,,
2015-09-14 18:00:00,42,168.678324,441.166419,98.287794,41.555248,7,0.0
2015-09-14 18:00:00,47,175.006589,440.392732,102.787350,41.508494,6,1.0
2015-09-14 18:00:00,6,171.596064,461.497423,98.837218,40.550722,7,2.0
2015-09-14 18:00:00,85,177.159175,442.567323,109.781413,40.819080,16,0.0
2015-09-14 18:00:00,67,173.564638,407.917638,100.753263,38.556884,14,3.0
2015-09-14 18:00:00,64,173.300051,447.635773,103.009246,41.032898,20,2.0
2015-09-14 18:00:00,84,168.234301,450.030554,96.918168,39.978978,9,2.0
2015-09-14 18:00:00,14,165.754540,445.452785,104.397520,40.950455,1,2.0
2015-09-14 18:00:00,70,169.592317,432.143658,101.442215,38.680496,9,2.0
2015-09-14 18:00:00,89,174.644183,436.840266,101.088580,37.762257,17,2.0

In [134]:
X_test1 = X_test.copy()
X_test1 = scaler.fit_transform(X_test1)
X_test1 = pd.DataFrame(X_test1)
indexes = X_test.index
X_test1.index = indexes
X_test1.columns = columns
X_test1.head(10)

,machineID,voltmean_24h,rotatemean_24h,pressuremean_24h,vibrationmean_24h,age,model_enc
datetime_x,,,,,,,
2015-09-14 18:00:00,-0.294340,-0.465535,-0.348968,-0.672437,0.687626,-0.743775,-1.742691
2015-09-14 18:00:00,-0.121125,1.050249,-0.398380,0.438454,0.660851,-0.915420,-0.790087
2015-09-14 18:00:00,-1.541486,0.233339,0.949490,-0.536790,0.112347,-0.743775,0.162516
2015-09-14 18:00:00,1.195307,1.565849,-0.259498,2.165211,0.266032,0.801022,-1.742691
2015-09-14 18:00:00,0.571734,0.704864,-2.472431,-0.063740,-1.029499,0.457733,1.115119
2015-09-14 18:00:00,0.467805,0.641489,0.064203,0.493237,0.388483,1.487598,0.162516
2015-09-14 18:00:00,1.160664,-0.571890,0.217148,-1.010583,-0.215084,-0.400487,0.162516
2015-09-14 18:00:00,-1.264343,-1.165857,-0.075215,0.835987,0.341269,-1.773640,0.162516
2015-09-14 18:00:00,0.675663,-0.246610,-0.925215,0.106355,-0.958707,-0.400487,0.162516
2015-09-14 18:00:00,1.333879,0.963443,-0.625261,0.019046,-1.484571,0.972666,0.162516

In [136]:
from tensorflow import keras
X_train.shape[1:]

(7,)

In [196]:
model = keras.models.Sequential([
    keras.layers.Dense(30,activation='relu',input_shape=X_train.shape[1:]),
    keras.layers.Dense(20,activation='relu'),
    keras.layers.Dense(2,activation='softmax')
])

In [197]:
model.compile(loss='sparse_categorical_crossentropy',
             optimizer='sgd',metrics=['accuracy'])

In [198]:
history = model.fit( X_train, y_train, epochs=5 )

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 203089 samples
Epoch 1/5
203089/203089 [==============================] - 26s 126us/sample - loss: 0.3402 - accuracy: 0.9789
Epoch 2/5
203089/203089 [==============================] - 27s 132us/sample - loss: 0.3402 - accuracy: 0.9789
Epoch 3/5
203089/203089 [==============================] - 24s 118us/sample - loss: 0.3402 - accuracy: 0.9789
Epoch 4/5
203089/203089 [==============================] - 24s 120us/sample - loss: 0.3402 - accuracy: 0.9789
Epoch 5/5
203089/203089 [==============================] - 24s 119us/sample - loss: 0.3402 - accuracy: 0.9789

In [199]:
model.evaluate(X_test,y_test)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
87039/87039 [==============================] - 6s 69us/sample - loss: 0.3013 - accuracy: 0.9813

[0.30129193481021493, 0.9813072]